#header_merchant{
  margin: 75px 25px 0px 25px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#tambah{
  margin: 10px 25px 0px 25px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFF8DF;
}

#notifikasi{
  margin: 25px 25px 0px 25px;
}

#form{
  padding: 25px 25px 25px 25px;
}
