#header_merchant{
  margin: 75px 25px 15px 25px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 981px) {

  body{
    margin-left: 250px;
    margin-right: 250px;
  }
  #icon1{
    width: 30px;
  }
  #ds{
    margin-left: 160px;
    margin-right: 160px;
  }
  #tambah{
    margin: 0px 25px 0px 25px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF8DF;
  }
  #content{
    margin: 0px 25px 0px 25px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #header_content{
    border-color: red;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  #ul_header{
    list-style-type: none;
   padding: 0;
   overflow: hidden;
  }
  #li_header a{
    display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  }
  #li_header{
    float: left;
  }
  #img_product{
    width: 200px;
    height: 180px;
  }
}
