
@media only screen and (min-width: 981px) {
  /* For mobile phones: */
  #body{
    background-color: #F1FAFF;
  }
  #content{
    margin: 50px 250px 0px 250px;
    padding: 25px 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #username{
    width: 300px;
  }
  #password{
    width: 300px;
  }
}
