#header_merchant{
  margin: 75px 50px 0px 50px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_header{
  margin-left: 50px;
}

#garantee{
  margin: 10px 50px 50px 50px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFF8DF;
}
