#header_merchant{
  margin: 75px 5px 0px 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#row1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 0px 5px 5px 5px;
}
#tambah{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 5px 5px 5px 5px; 
}
#search{
  width: 50px;
}
#icon1{
  width: 20px;
  margin-bottom: 10px;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#pict{
    width: 80px;
  }

#pict_button{
  width: 30px;
}  
#but_block{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
  }
#but_active{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
  }
 #input1{
  width: 270px;
 } 
@media only screen and (min-width: 981px) {
  /* For mobile phones: */
  body{
    margin-left: 250px;
    margin-right: 250px;
  }
  #header_merchant{
  margin: 75px 25px 0px 25px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  #toko{
    font-size:3vw;
  }
  #number_produk{
    font-size: 2vw;
  }
  #pict_market{
    width: 50px;
  }
  #pict_admin{
    width: 120px;
  }
  #not{
    font-size: 1.5vw;
  }
  #icon1{
    width: 30px;
  }
  #ds{
    margin-left: 160px;
    margin-right: 160px;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  #pict{
    width: 80px;
  }
  #garantee{
   height: 150px; 
  margin: 10px 25px 0px 25px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #C8EDE6;
}
#tambah{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 5px 25px 5px 25px; 
}
 #input1{
  width: 760px;
 } 
}
