
#container{
	height:60px;
	 background-color:#008AFF;
	 top: 0;
	 display: block;
	 transition: top 0.3s;
}
li {
  float: left;
}
#font{
	font-size: 2.5em;color: white
}

 @media only screen and (min-width: 981px) {
  #body_content{
    margin-left: 230px;
    margin-right: 230px;
  }
  #ds{
    margin-left: 200px;
    margin-right: 200px;
  }
}
